/*********************

Authors:
	Jay Tang

Stylesheet:
	Variables stylesheet

*********************/

// colours

$colour-primary: #39649f;
$colour-secondary: #ffbead;

$colour-background: #0f1d2e;
$colour-background-beta: #162941;
$colour-background-delta: #12243d;

// fonts

$font-roboto: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-roboto-black: "RobotoBlack", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// layout

$grid-columns : 12;
$grid-width : 960px;
$grid-gutter : 10px;
$grid-padding-outer : 20px;

// breakpoints

$breakpoints: (
	(phone 		480px)
	(tablet 	680px)
	(desktop 	960px)
	(extended 	1440px)
);
