/*********************

Authors:
	Jay Tang

Stylesheet:
	Home stylesheet

*********************/

.home {
	padding-left: 140px;
	padding-bottom: 100px;

	@include breakpoint(false, desktop) {
		padding-left: 0;
	}
}

.profile-wrapper{
	padding-top: 40px;
}